/* selektor {
    właściwość: wartość;
} */

body {
    background-color: rgb(125, 125, 138);
}
.messageForm{
    display: flex;
    flex-direction: column;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}



    

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
@media (min-width:768px){
    .info {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
}